.featuresSection {
    box-sizing: border-box;
  width: 100%;
  max-width: 1300px;
  margin: 3rem auto;
  padding: 0 1rem;
}

.featuresSection h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #1f2937;
}

.featuresList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.featureCard {
  display: flex;
  width: 48%;
  min-width: 500px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}


.featureImage {
  width: 250px;
  object-fit: cover;
  flex-shrink: 0;
}

.featureContent {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featureContent h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #002b45;
}

.featureSummary {
  font-size: 1rem;
  color: #374151;
  margin-bottom: 0.8rem;
}

.featurePoints {
  list-style-type: disc;
  padding-left: 1.2rem;
  color: #4b5563;
  font-size: 0.95rem;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .featureCard {
    width: 100%;
    min-width: unset;
    max-width: 700px;
  }
}

@media (max-width: 500px) {
    .featureCard {
    width: 100%;
    min-width: none;
    flex-direction: column;
  }

  .featureImage {
    width: 100%;
    height: auto;
  }
}

