.coreSection {
  box-sizing: border-box !important;
  padding: 60px 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingWrapper {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #1f2937;
}

.subtitle {
  font-size: 1.2rem;
  color: #5d626d;
  margin-top: -10px;
  max-width: 600px;
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-width: 1100px;
}

.featureCard {
  box-sizing: border-box;

  background: #D8E9FF;
  border-radius: 12px;
  padding: 20px 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.3s ease;
  border: 0.5px solid rgba(0, 0, 0, 0.09);
}

.featureCard:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 2.5rem;
  color: #4f46e5;
}

.cardTitle {
  font-size: 1.3rem;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 10px;
}

.cardText {
  font-size: 1rem;
  color: #4b5563;
  line-height: 1.5;
}

.counter {
  display: inline-block;
  font-weight: 800;
  font-size: 2.6rem;
  color: #4f46e5;
  margin-right: 6px;
  animation: popUp 0.6s ease;
}

@keyframes popUp {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.cardTitle {
  font-size: 1.4rem;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.cardText {
  font-size: 1rem;
  color: #4b5563;
  line-height: 1.6;
  text-align: center;
}

.percentSymbol {
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  margin-left: 2px;
}
