@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
  font-family: 'CeraPro';
  src: 
    url('/fonts/CeraProRegular.woff') format('woff')
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
background: radial-gradient(
    circle at top,
    #f0f9ff 0%,
    #f8fbff 50%,
    #ffffff,
    #ffffff 100%
  );
}

.h2 {
 font-size: 2rem;
  font-weight: 600;
  color: #1f2937;
}

.h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1e293b;
}

.h4 {
  font-size: 1rem;
  color: #5d626d;

}

.b1 {
  font-size: 1.1rem;
  color: #5d626d;
  line-height: 1.5;
  margin-top: -10px;
}

.b2 {
  font-size: 0.9rem;
  color: #4b5563;
  line-height: 1.5;
}

.pageWrapper {
  padding: 2rem 1rem;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  color: #002b45;
  display: flex;
  flex-direction: column;
  align-items: center;
}





.alternateFont {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: 400; 
}